# Activar RewriteEngine
RewriteEngine on
RewriteBase /proyecto

RewriteRule ^logo/?$ img/img_pagina/logo.png
# Index
RewriteRule ^([^/\.]+)/?$ ./php/paginas/index.php
# Actividades
#RewriteRule ^actividad/([^/\.]+)/?$ php/paginas/actividad.php?actividad=$1
# Vista foro
#RewriteRule ^foro/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ php/paginas/foro.php?categoria=$1&isla=$2&pagina=$3
# Vista Busqueda

# Vista Administrador

# Vista Isla

# Vista Perfil

# Vista Crear actividad

# Vista Registro Social

# Vista Borar Perfil

# Vista Registro Normal
RewriteRule ^registro/?$ php/sesion/registro.php