# Activar RewriteEngine
RewriteEngine on
RewriteBase /proyecto
# Reescribir la URL solicitada por el usuario
#   Entrada:  actividad/NOMBRE/
#   Salida: actividad.php?id=NOMBRE

RewriteRule ^actividad/([^/\.]+)/?$ php/paginas/actividad.php?actividad=$1

RewriteRule ^foro/([^/\.]+)/([^/\.]+)/([^/\.]+)/?$ php/paginas/foro.php?categoria=$1&isla=$2&pagina=$3